{% extends "base.html" %}

{% block content %}
  <h3>Amsterdam Map</h3>

  <h5>Dropdown <Menu></Menu></h4>
  
  <!-- Build your select: -->
  <select id='dropdown-menu' class='selectpicker' multiple data-live-search="true">
    <!-- <option value="bridge.json">Bridges</option>
    <option value="building.json">Buildings</option>
    <option value="bus_stop.json">Bus Stops</option>
    <option value="high_voltage_pylon.json">High Voltage Pylons</option>
    <option value="lamp_post.json">Lamp Posts</option>
    <option value="metro_stop.json">Metro Stops</option>
    <option value="park.json">Parks</option>
    <option value="playground.json">Playgrounds</option>
    <option value="sports_field.json">Sports Field</option>
    <option value="toilets.json">Toilets</option>
    <option value="trafic_light.json">Traffic Lights</option>
    <option value="train_stations.json">Train Stations</option>
    <option value="tram_stop.json">Tram Stops</option>
    <option value="trash.json">Trash</option>
    <option value="tree.json">Trees</option>
    <option value="wind_turbine.json">Wind Turbines</option> -->
    <option value="metro_stops">Metro Stops</option>
    <option value="solarPanels">Solar Panels</option>
  </select>
  
  <!-- <input type="button" id='submit' value="Submit" onclick="getSelectValues()"/> -->
  <!-- <button value="Submit" onclick="
      var el = document.getElementByTagName('select')[0];
      console.log(getSelectValues(el))";>
  </button> -->
  <input type="button" value="Submit" onclick="
      var el = document.getElementById('dropdown-menu');
      var datasets = getSelectValues(el);
      displayLayers(datasets);"/>

  <input type="button" value="Finished Drawing Polygons" onclick="
      openPolygonModal();"/>

  <!-- The Neighborhood Modal -->
  <div id="neighborhood-modal" class="modal">
    <div class="modal-content">
      <span id="neighborhoodX" class="close">&times;</span>
      <div class="modal-body" id="neighborhood-body">
        <p> Neighborhood Data</p>  
      </div>
    </div>
  </div>

  <!-- The Polygon Draw Modal -->
  <div id="polygon-modal" class="modal">
    <div class="modal-content">
      <span id="polygonX" class="close">&times;</span>
      <div class="modal-body" id="polygon-body">
        
      </div>
    </div>
  </div>

  <!-- Initialize the plugin: -->
  <script type="text/javascript">
  $('select').selectpicker();
  </script>


  <pre id='cordInfo'></pre>
  <nav id="menu"></nav>
  <div id='map'></div>
  <script type="text/javascript" src="../static/js/amsterdam.js"></script>
    

{% endblock %}

