{% extends "base.html" %}

{% block content %}
  <h3>Amsterdam Map</h3>

  <h5>Dropdown <Menu></Menu></h4>
  
  <!-- Build your select: -->
  <select id='dropdown-menu' class='selectpicker' multiple data-live-search="true">
    <!-- <option value="bridge.json">Bridges</option>
    <option value="building.json">Buildings</option>
    <option value="bus_stop.json">Bus Stops</option>
    <option value="high_voltage_pylon.json">High Voltage Pylons</option>
    <option value="lamp_post.json">Lamp Posts</option>
    <option value="metro_stop.json">Metro Stops</option>
    <option value="park.json">Parks</option>
    <option value="playground.json">Playgrounds</option>
    <option value="toilets.json">Toilets</option>
    <option value="trafic_light.json">Traffic Lights</option>
    <option value="train_stations.json">Train Stations</option>
    <option value="trash.json">Trash</option>
    <option value="wind_turbine.json">Wind Turbines</option> -->
    <option value="tram_stop">Tram Stops</option>
    <option value="tree">Trees</option>
    <option value="trash">Trash Disposale</option>
    <option value="sports_field">Sports Field</option>
    <option value="metro_stops">Metro Stops</option>
    <option value="solarPanels">Solar Panels</option>
  </select>
  
  <!-- <input type="button" id='submit' value="Submit" onclick="getSelectValues()"/> -->
  <!-- <button value="Submit" onclick="
      var el = document.getElementByTagName('select')[0];
      console.log(getSelectValues(el))";>
  </button> -->
  <input type="button" value="Submit Data Selection" onclick="
      var el = document.getElementById('dropdown-menu');
      var datasets = getSelectValues(el);
      displayLayers(datasets);"/>

  <input type="button" value="Finished Drawing Polygons" onclick="
      openPolygonModal();
      loadData();"/>
    
  <!-- <input type="button" id="showHideMarkers" data-text-swap="Show Markers" value="Remove Markers"/> -->
  <button id= "showHideMarkers" data-text-swap="Make Markers Visible">Make Markers Invisible</button>

  <!-- Button to try Modal -->
  <button type="button" class="btn btn-demo" data-toggle="modal" data-target="#myModal2">
    Right Sidebar Modal
  </button>

  <!-- The Neighborhood Modal -->
  <div id="neighborhood-modal" class="modal">
    <div class="modal-content">
      <span id="neighborhoodX" class="close">&times;</span>
      <div class="modal-body" id="neighborhood-body">
        <p> Neighborhood Data</p>  
      </div>
    </div>
  </div>

  <!-- The Polygon Draw Modal -->
  <div id="polygon-modal" class="modal">
    <div class="modal-content">
      <span id="polygonX" class="close">&times;</span>
      <div class="modal-body" id="polygonBody">
        <button onclick="updateCharts(completeData, 0)">Polygon 1</button>
        <button onclick="updateCharts(completeData, 1)">Polygon 2</button>
        <div id="button-polygon"></div>
        <div id="lollipopChart"></div>
        <div id="barChart"></div> 
      </div>
    </div>
  </div>
  


  
  <!-- Initialize the plugin: -->
  <script type="text/javascript">
  $('select').selectpicker();
  </script>


  <pre id='cordInfo'></pre>
  <nav id="menu"></nav>

  <div class="container" id='map-container'>
    <div id='map'></div>
    <!-- Modal -->
    <div class="modal right fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
      <div class="modal-dialog" role="document">
        <div class="modal-content">

          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel2">Right Sidebar</h4>
          </div>

          <div class="modal-body">
            <p>Hello</p>
          </div>

        </div><!-- modal-content -->
      </div><!-- modal-dialog -->
    </div><!-- modal -->
    </div>
  
  <script type="text/javascript" src="../static/js/amsterdam.js"></script>
  <script type="text/javascript" src="../static/js/polygonModal.js"></script>

    

{% endblock %}

